HomeCare_4_0/Web References/WebServiceGetLeave/webServiceGetLeave.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getWebserviceLeave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Month" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ListMail" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getWebserviceLeaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getWebserviceLeaveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getWebserviceLeaveSoapIn">
    <wsdl:part name="parameters" element="tns:getWebserviceLeave" />
  </wsdl:message>
  <wsdl:message name="getWebserviceLeaveSoapOut">
    <wsdl:part name="parameters" element="tns:getWebserviceLeaveResponse" />
  </wsdl:message>
  <wsdl:portType name="webServiceGetLeaveSoap">
    <wsdl:operation name="getWebserviceLeave">
      <wsdl:input message="tns:getWebserviceLeaveSoapIn" />
      <wsdl:output message="tns:getWebserviceLeaveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="webServiceGetLeaveSoap" type="tns:webServiceGetLeaveSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getWebserviceLeave">
      <soap:operation soapAction="http://tempuri.org/getWebserviceLeave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="webServiceGetLeaveSoap12" type="tns:webServiceGetLeaveSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getWebserviceLeave">
      <soap12:operation soapAction="http://tempuri.org/getWebserviceLeave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="webServiceGetLeave">
    <wsdl:port name="webServiceGetLeaveSoap" binding="tns:webServiceGetLeaveSoap">
      <soap:address location="http://www.siriintranet.com/eleave/Service/webServiceGetLeave.asmx" />
    </wsdl:port>
    <wsdl:port name="webServiceGetLeaveSoap12" binding="tns:webServiceGetLeaveSoap12">
      <soap12:address location="http://www.siriintranet.com/eleave/Service/webServiceGetLeave.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>